tf-keras
pymupdf
regex
nltk
openai
markdownify
langchain
python-dotenv
autogen-core
autogen-ext
autogen-agentchat
pydantic
datasets
transformers
peft
torch
wandb
evaluate
accelerate
bitsandbytes
rouge_score
